{{#if editPost}}
  <div>
    <form>
      <div class="form-group">
        <label for="author">Your name</label>
        {{input value=author class="form-control" id="author" placeholder=post.author}}
      </div>
      
      <div class="form-group">
          <label for="role">Your job / background</label>
          {{input value=role class="form-control" id="role" placeholder=post.role}}
      </div>

      <div class="form-group">
        <label for="content">Question</label>
        {{input value=content class="form-control" id="content" placeholder=post.content}}
      </div>

      <div class="form-group">
        <label for="detail">Additional details (optional)</label>
        {{textarea rows="8" cols="50" class="form-control" id="detail" value=detail placeholder=post.detail}}
      </div>

      <button {{action 'updatePost' post}} class="btn btn-warning">Edit Question</button>
      <button {{action "deletePost" post}} class="btn btn-danger">Delete Question</button>
    </form>
  </div>
{{else}}
  <p {{action 'editPostFormShow'}} class="author red-link">Edit Question</p>
{{/if}}