{{#if addNewPost}}
<div class="well green-background">
  <div class="split-to-sides">
    <h3><strong>What is your question?</strong></h3>
    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
  </div>
  <br>
  <form>
    <div class="form-group">
      <label for="author">Your name</label>
      {{input value=author class="form-control" id="author" placeholder="John Smith"}}
    </div>
    
    <div class="form-group">
        <label for="role">Your job / background</label>
        {{input value=role class="form-control" id="role" placeholder="Web Developer"}}
    </div>

    <div class="form-group">
      <label for="content">Question</label>
      {{input value=content class="form-control" id="content" placeholder="What's the best tool for web styling?"}}
    </div>

    <div class="form-group">
      <label for="detail">Additional details (optional)</label>
      {{textarea rows="8" cols="50" class="form-control" id="detail" value=detail placeholder="Add additional question details here"}}
    </div>

      <button {{action 'savePost1'}} class="btn btn-success">Ask Question</button>
  </form>
</div>
{{else}}
<div class="well green-background">
  <button {{action 'postFormShow'}} class="btn btn-success">Ask Question</button>
</div>
{{/if}}
