{{#if addNewPost}}
  <h3>What is your question?</h3>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Your name</label>
        {{input value=author class="form-control" id="author"}}
      </div>

      <div class="form-group">
        <label for="content">Question</label>
        {{input value=content class="form-control" id="content"}}
      </div>

      <button {{action 'savePost1'}} class="btn btn-success">Ask Question</button>
    </form>
  </div>
{{else}}
  <button {{action 'postFormShow'}} class="btn btn-success">Ask Question</button>
{{/if}}