<div class="well green-background">
    <h3><strong>{{model.content}}</strong></h3>
    <p><small>Asked by {{model.author}}, {{model.role}} on {{moment-format post.created 'L'}}</small></p>
    <br>
    <p>{{model.detail}}</p>
    <br>
    {{edit-post post=model updatePost="updatePost" deletePost="deletePost"}}
</div>

{{new-comment post=model saveComment="saveComment"}}

{{#if model.comments}}
    {{#each model.comments as |comment|}}
        {{comment-tile comment=comment}}
    {{/each}}
{{/if}}
